.git
.github
.gitignore
.DS_Store
.idea
.vscode
*.log
node_modules
dist
build
tmp
testdata
circuit
spec
scripts
tests
*.md
LICENSE
.env.example
.golangci.yml
Makefile
requirements.txt
celestia-cluster-compose.yml
bitcoin-cluster-compose.yml
engram-validator-compose.yml
engram-cluster-compose.dev.yml
Dockerfile.dev
.air.toml